<table class="table">
    <caption>
        <div>
            <div class="col-sm-10 text-left">
                Therapists
            </div>
            <div class="col-sm-2 pull-left">
                <button type="button" class="btn btn-default" (click)="add()">Add</button>
            </div>
        </div>
    </caption>
    <thead>
    <tr>
        <th>First name</th>
        <th>Last name</th>
        <th>Clinic</th>
        <td class="col-sm-3 text-center">#</td>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let it of therapists">
        <td>{{it.firstName}}</td>
        <td>{{it.lastName}}</td>
        <td>{{it.clinic.title}}</td>
        <td>
            <div class="btn-group pull-right">
                <button type="button" class="btn btn-default" (click)="edit(it)">Edit</button>
                <button type="button" class="btn btn-default" (click)="remove(it)">Remove</button>
            </div>
        </td>
    </tr>
    </tbody>
</table>